/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.nav-img{
    text-align: left;

}

.nav-title h1{
    text-align: right;
    
}


.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-menu a{
    background-color: transparent;
    margin: 5px 10px;
    padding: 5px 5px;
}

 /* navigation bar end here  */



 /* profile section start here */


 .fa-cloud{
    right: 60px;
    top: 60px;
    font-size: 90px;
    /* transition: width transform 5s; */
}

.fa-cloud:hover{
    font-size: 130px;

}

.profile-desc h1{
    margin-top: 100px;
    font-size: 3rem;
}



.profile .bottom-weather-icon{
    left: 30px;
    bottom: 20px;
    width: 100px;
    transition: width transform 2s;
}

.profile .bottom-weather-icon:hover{
    width: 140px;

}

.profile p{
    margin-bottom: 80px;
}


.profile::after{
    content: '';
    display: table;
    clear: both;
}


 /* profile section end here */



 /* about me section start here */
    .image img{
        margin-top: 150px;
        height: 300px;
        width: 300px;
    }







 /* about me section end here */


 /* <!-- professional experience section starts here --> */

    .skill-desc{
        padding: 0 2%;
    }

 /* <!-- professional experience section ends here --> */

 /* achivement contact starts from here */

.achivement{
    padding-right: 50px;
}

 .contact-links{
    position: relative;
 }

 .media-buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
 }

 /* achivement contact end here */

 /* footer section start from here  */

 .footer-menu{
    margin: 20px 0;
 }

 .footer-menu a{
    display: inline;
    margin: 25px;
 }

 .footer-desc{
    margin: 20px 0;

 }

 /* footer section end here  */


